<div class="w-full flex flex-row flex-wrap justify-center">
  <h2 class="font-bold text-3xl mt-10 tracking-wide">Contacta conmigo</h2>
</div>
<div id="content" class="w-5/6 flex flex-row flex-wrap md:justify-center">
  <div  class=" basis-full h-1/4 my-5 md:basis-1/4 md:mr-5 md:my-0  block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Teléfono</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">(+34) 676-56-61-61</p>
  </div>
  <div  class=" basis-full justify-center h-1/4 my-5 md:basis-1/4 md:mr-5 md:my-0 block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Correo electrónico</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">jorge.mora.campoy@gmail.com</p>
    <div class="flex flex-row justify-center">
      <button routerLink="/contact" type="button" class=" mt-3 text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 mr-2 mb-2">
        <svg class="mr-2 -ml-1 w-4 h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
        <a href="mailto:jorge.mora.campoy@gmail.com?Subject=Contacto%20web%20Jorge%20">Enviar correo</a>
      </button>
      </div>
  </div>
  <div  class=" basis-full h-1/4 my-5 md:basis-1/4 md:my-0  block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">LinkedIn</h5>
    <div class="flex flex-row justify-center mt-10">
      <a target="_blank" href="https://www.linkedin.com/in/jorge-mora-campoy-412684218/" class="bg-sky-600 px-4 py-2 font-semibold text-white inline-flex items-center space-x-2 rounded">
        <span>LinkedIn</span>
      </a>
    </div>
  </div>
</div>



